---
import { getCollection } from 'astro:content'
import FormattedDate from '@components/FormattedDate.astro'
import Layout from '@layouts/SimpleLayout.astro'

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
)
---

<Layout title="blog post" description="Lorem ipsum dolor sit amet">
    <div class="my-switcher">
        {
            posts.map((post) => (
                <div class="box">
                    <a href={`/blog/${post.slug}/`}>
                        <h4 class="title">{post.data.title}</h4>
                        <p class="date">
                            <FormattedDate date={post.data.pubDate} />
                        </p>
                    </a>
                </div>
            ))
        }
    </div>
</Layout>
<style>
    a {
        text-decoration: none;
    }

    .my-box {
        padding: var(--size-1);

        --color-light: hsl(0, 0%, 80%);
        --color-dark: hsl(0, 0%, 20%);
        color: var(--color-dark);

        background-color: var(--color-light);

        /* color: var(--gray-1);
        background-color: var(--gray-12); */
        outline: 0.125rem solid transparent;
        outline-offset: -0.125rem;
    }

    .my-switcher {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-5);
    }

    .my-switcher > * {
        flex-basis: 100%;
    }
</style>
