box-l {
    display: block;
    padding: var(--s1);
    border-width: var(--border-thin);
    /* ↓ For high contrast mode */
    outline: var(--border-thin) solid transparent;
    outline-offset: calc(var(--border-thin) * -1);
    color: inherit;
    background-color: inherit;
}

[class^='box'] {
    color: var(--text-1);
    background-color: var(--surface-4);
    * {
        color: inherit;
    }
}

[class^='box'].invert {
    filter: invert(100%);
}
