box-l {
  display: block;
  padding: var(--s1);
  border-width: var(--border-thin);
  /* ↓ For high contrast mode */
  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;
  color: var(--text-3) !important;
  background-color: var(--surface-3) !important;
}
