---
import Layout from '@layouts/SimpleLayout.astro'

// import {} from '@c/index.ts'
---

<Layout>
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
          <!-- the corresponding container -->
          <!-- querying from an element here -->
        </div>
      </div>
    </div>
  </div>
</Layout>
