---
// function calc(arg0: string): number {
//   // Assuming arg0 is a CSS variable, you need to extract the numerical value
//   const value = parseFloat(
//     getComputedStyle(document.documentElement).getPropertyValue(arg0),
//   )
//   if (isNaN(value)) {
//     throw new Error(`Invalid argument: ${arg0}`)
//   }
//   return value
// }

import Layout from '#layouts/Layout.astro';
import { Cluster, Box } from '#astro-custom-layout-components/index.js';
---

<Layout centerWidth="100vw">
  <!--  paddh4ing="8rem" widtstyle={{"20%" /> -->

  <Cluster space="var(--s3)">
    <Box borderWidth="0"><div style={{ height: 'var(--h1)' }}>s0</div></Box>
    <Box borderWidth="0"><div style={{ height: 'var(--h2)' }}>s1</div></Box>
    <Box borderWidth="0"><div style={{ height: 'var(--h3)' }}>s4</div></Box>

    <Box borderWidth="0"><div style={{ height: 'var(--h4)' }}>s6</div></Box>
    <Box borderWidth="0"> <div style={{ height: 'var(--h5)' }}>s7</div></Box>
  </Cluster>
</Layout>

<style>
  div {
    background: var(--gradient-13);
    width: 10vw;
    font-size: var(--s0);
    flex-grow: 1;
    justify-content: space-between;
    padding-inline: 50%;
    padding-top: var(--s1);
  }
</style>
