---
import Layout from '@layouts/SimpleLayout.astro'
import { Cluster, Center, Box } from '@cc/index.ts'
---

<Layout>
  <!--  paddh4ing="8rem" widtstyle={{"20%" /> -->
  <Center
    ><Box invert>
      <Cluster justify="center" align="flex-end">
        <div class="box" style={{ height: 'var(--s0)' }}>s0</div>
        <div class="box" style={{ height: 'var(--s1)' }}>s1</div>
        <div class="box" style={{ height: 'var(--s2)' }}>s2</div>
        <div class="box" style={{ height: 'var(--s3)' }}>s0</div>
        <div class="box" style={{ height: 'var(--s4)' }}>s0</div>
        <div class="box" style={{ height: 'var(--s5)' }}>s4</div>
      </Cluster>
    </Box>
  </Center>
</Layout>

<style>
  div {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--s0);
  }
  .myGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
</style>
