---
function calc(arg0: string): number {
  // Assuming arg0 is a CSS variable, you need to extract the numerical value
  const value = parseFloat(
    getComputedStyle(document.documentElement).getPropertyValue(arg0),
  )
  if (isNaN(value)) {
    throw new Error(`Invalid argument: ${arg0}`)
  }
  return value
}

import Layout from '@layouts/SimpleLayout.astro'
import { Cluster, Switcher, Box } from '@cc/index.ts'
---

<Layout>
  <!--  paddh4ing="8rem" widtstyle={{"20%" /> -->

  <Box>
    <Cluster>
      <div style={{ height: 'var(--h1)' }}>s0</div>
      <div style={{ height: 'var(--h2)' }}>s0</div>
      <div style={{ height: 'var(--h3)' }}>s4</div>

      <div style={{ height: 'var(--h4)' }}>s6</div>
      <div style={{ height: 'var(--h5)' }}>s7</div>
    </Cluster>
  </Box>
</Layout>

<style>
  div {
    background-color: red;
    flex-grow: 1;

    font-size: var(--s0);
  }
</style>
