---
import { Code } from 'astro:components';

import { Box, Grid,Imposter } from '#astro-custom-layout-components/index.ts';
import SkeletonCard from '#components/SkeletonCard.astro';
import Layout from '#layouts/Layout.astro';
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="test Me" description="Lorem ipsum dolor sit amet" maxW="100%">
  <Grid min="800px">
    <SkeletonCard />
    <SkeletonCard />
    <SkeletonCard />
    <SkeletonCard /></Grid
  >

  <!-- <Imposter>
    <div class="bg-mint-500">
      <Box borderWidth="var(--s2)">
        <p class="h4">
          <strong>You can’t see all the content, because of this box.</strong>
        </p>
      </Box>
    </div>
  </Imposter> -->
</Layout>

<style>
  .skeleton-paragraphs wa-skeleton {
    margin-bottom: 1rem;
  }

  .skeleton-paragraphs wa-skeleton:nth-child(2) {
    width: 95%;
  }

  .skeleton-paragraphs wa-skeleton:nth-child(4) {
    width: 90%;
  }

  .skeleton-paragraphs wa-skeleton:last-child {
    width: 50%;
  }
</style>
