---
import Layout from '@layouts/SimpleLayout.astro'
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="test Me" description="Lorem ipsum dolor sit amet">
    <imposter-l>
        <box-l style="background-color: var(--color-light)">
            <p class="h4">
                <strong
                    >You can’t see all the content, because of this box.</strong
                >
            </p>
        </box-l>
    </imposter-l>
</Layout>
