---
import Layout from '@/layouts/Layout.astro';
import { Imposter, Cluster } from '@cc/index.js';
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="test Me" description="Lorem ipsum dolor sit amet">
  <Imposter>
    <Cluster>
      <p class="h4">
        <strong>You can’t see all the content, because of this box.</strong>
      </p>
    </Cluster>
  </Imposter>
</Layout>
