---
import Layout from '@/layouts/LayoutWcover.astro';
import { Box, Switcher } from '@cc/index';
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="test Me" description="Lorem ipsum dolor sit amet">
  <Box>
    <Box borderWidth="0">
      <h4>Components</h4>
      <p>
        <code>.switcher</code> - especially useful where each element should be considered
        equal, or part of a continuum.
      </p>

      <Box borderWidth="0">
        <Switcher>
          <Box borderWidth="1px">x</Box>
          <Box borderWidth="1px">x</Box>
          <Box borderWidth="1px">x</Box>
        </Switcher>
      </Box>
    </Box>
  </Box>
  <style>
    .filled {
      inline-size: 10rem;
      background-color: var(--pink-3);
    }
  </style></Layout
>
