/* utility classes - never over  */
.font-size\:base {
    font-size: var(--font-size-base) !important;
}
.font-size\:biggish {
    font-size: var(--font-size-biggish) !important;
}
.font-size\:big {
    font-size: var(--font-size-big) !important;
}

