---
import ThumbNail from '#assets/400x300.svg';
import Box from '#astro-custom-layout-components/Box/index.astro';

interface Props {
  title?: string;
}

const { title = 'Card titel in here' } = Astro.props;
---

<Box borderWidth="0" padding="0">
  <ThumbNail width="200" height="150" />
</Box>
<Box borderWidth="0" padding="0">
  <p>{title}</p>
</Box>
