---
// import { Image } from 'astro:assets';

// import thumb from '#assets/blog-placeholder-2.jpg';
---

<div id="layout__item" class="layout">
  <div class="card">
    <div class="card-thumb">
      <img src="https://picsum.photos/400/300?random=1" alt="x" />
    </div>
    <div class="card-content">
      <h3>Card title in here</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-thumb">
      <img src="https://picsum.photos/400/300?random=1" alt="x" />
    </div>
    <div class="card-content">
      <h3>Card title in here</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-thumb">
      <img src="https://picsum.photos/400/300?random=1" alt="x" />
    </div>
    <div class="card-content">
      <h3>Card title in here</h3>
    </div>
  </div>
</div>
<form class="slider-form">
  <wa-slider min="160" max="200"></wa-slider>
</form>

<style>
  /* define the container type.
 We can also define the name (not mandatory but recommended) */

  .layout {
    container-type: inline-size;
    container-name: card;
    border: 2px solid red;

    background-color: aquamarine;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem; */
  }

  @container card (min-width: 180px) {
    .card {
      display: flex;
      gap: 1rem;
      outline: dotted 2px deeppink;
    }
  }

  .card-thumb {
    .img {
      width: 100%;
    }
  }
</style>

<script>
  const codeSlider = async () => {
    await Promise.all([customElements.whenDefined('wa-slider')]).then(() => {
      const slider = document.querySelector('wa-slider') as HTMLElement & {
        value: number;
      };
      const container = document.getElementById('layout__item') as HTMLElement;

      slider?.addEventListener('wa-input', () => {
        container.style.setProperty('width', `${slider.value}px`);
      });
    });
  };

  document.addEventListener('DOMContentLoaded', () => {
    codeSlider();
    // Wait for controls to be defined before attaching form listeners
  });

  //   document.addEventListener('astro:page-loaded', () => {

  //   });
</script>
