---
import Layout from '@/layouts/LayoutWcover.astro';
import { Box, Stack, Center } from '@cc/index.js';
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <Center>
    <Stack recursive>
      <Box invert>
        <h3>Sagittis purus sc</h3>
      </Box>

      <Box>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
          exercitationem inventore, nihil amet officiis tenetur voluptas debitis
          reprehenderit asperiores cupiditate eum doloribus eos magnam
          voluptates suscipit praesentium recusandae magni nulla.
        </p>
        <Box>
          <p>
            Ut quis tempora tenetur, corrupti odio quidem modi hic neque
            consequuntur enim expedita doloribus pariatur odit, aspernatur dolor
            minima aliquid cupiditate!
          </p>
        </Box>
      </Box>
      <Box>
        <p>Invert purus sit amet volutc</p>
      </Box>
    </Stack>
  </Center>
</Layout>

<style>
  .about-colors {
    color: white !important;
    background-color: black !important;
  }
</style>
