---
import Layout from '@layouts/SimpleLayout.astro'
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="About Me" description="Lorem ipsum dolor sit amet">
    <div class="stack">
        <div class="box-no-border">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolorem exercitationem inventore, nihil amet officiis tenetur
                voluptas debitis reprehenderit asperiores cupiditate eum
                doloribus eos magnam voluptates suscipit praesentium recusandae
                magni nulla.
            </p>
        </div>
        <div class="box invert">
            <p>Invert purus sit amet volutpat. Netus et malesuada fames ac</p>
        </div>
        <div class="box-no-border">
            <p>Sagittis purus sit amet volutpat. Netus et malesuada fames ac</p>
        </div>
    </div>
</Layout>
