---
import Layout from '@/layouts/BareLayout.astro';
import { Box } from '@cc/index.js';
import Modal from '@/ui/astro/modal/Modal.astro';

// interface Props {}
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <!-- <Box>

    <h3>Sagittis purus sc</h3>
  </Box> -->

  <Modal>hello</Modal>
</Layout>
