---
import Layout from '@layouts/LayoutWcover.astro'

// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import { Box } from '@cc/index.ts'
import MixedStyles from '@components/MixedStyles.astro'
---

<Layout title="home" description="testing css">
  <Box>
    <h1>not in MS</h1>
    <MixedStyles>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem deleniti
      soluta ducimus doloribus accusantium iusto corrupti ipsam, atque libero
      omnis neque cum ut perspiciatis cupiditate maxime recusandae laudantium
      non? Totam?
    </MixedStyles></Box
  >
</Layout>
