---
import Layout from '@layouts/SimpleLayout.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Dialogbox from '@components/Dialouge.astro'
import AstroBox from '@components/customComponents/Box/index.astro'
// import type { removeEmitHelper } from 'typescript'
---

<Layout title="home" description="testing css">
    <div class="stack">
        <h1>xxxx</h1>

        <Dialogbox />
    </div>
</Layout>
