---
import Layout from '@layouts/SimpleLayout.astro'
import SideBarDemo from '@components/SideBarDemo.astro'
import Switcher from '@components/Switcher.astro'
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="test Me" description="Lorem ipsum dolor sit amet">
    <!-- <Cluster /> -->
    <!-- <div class="box"><h1>Side Bar Demo</h1></div>
    <SideBarDemo /> -->
    <!-- <div class="box"><h1>Switcher Demo</h1></div> -->
    <Switcher />
</Layout>
