---
import Layout from '@layouts/Layout.astro'
// import { Box, Stack } from '@cc/index.ts'
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="test Me" description="Lorem ipsum dolor sit amet">
  <astro-dev-toolbar-window>
    <p>My content</p>
  </astro-dev-toolbar-window>
</Layout>
