---
import Layout from '@layouts/SimpleLayout.astro'
import Switcher from '@components/customComponents/Switcher/index.astro'
---

<Layout title="switch test" description="Lorem ipsum dolor sit amet">
    <Switcher limit={5} threshold="60ch" space="1rem">
        <div class="box">hello</div>
        <div class="box">hello</div>
        <div class="box">hello</div>
        <div class="box">hello</div>
    </Switcher>
</Layout>
