---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {
    padding?: string
    borderWidth?: string
    invert?: boolean
    boderColor?: string
}

const {
    padding = '1rem',
    borderWidth = '1rem',
    invert = false,
    boderColor = 'red',
    class: className,
    ...rest
} = Astro.props
---

<div class="bbox">
    <slot />
</div>

<!-- <div class="bbox" {...rest}>
    <slot class:list="[{className}]" />
</div> -->

<style define:vars={{ padding, borderWidth, invert, boderColor }}>
    .bbox {
        padding: var(--padding);
        outline: var(--borderWidth) solid var(--boderColor);
        outline-offset: calc(var(--borderWidth) * -1);
    }

    .bbox * {
        color: inherit;
        border: var(--borderWidth) solid var(--boderColor);
        filter: var(--invert) ?? invert(100%);
    }
</style>
