---
import Box from '#astro-custom-layout-components/Box/index.astro';

interface Props {
  headline?: string;
  description?: string;
}

const DUMMY = `Dolor sit amet consectetur adipisicing elit. Officiis iste,
    aspernatur, veritatis voluptate asperiores blanditiis beatae, modi
    impedit voluptatibus dignissimos optio eaque consectetur saepe illum sit
    doloremque velit nobis eos?`;

const { headline = 'LOREM IPSUM', description = DUMMY } = Astro.props;
---

<Box padding="0" borderWidth="var(--border-size-2)">
  <Box padding="1rem">
    <h6 class="">{headline}</h6>
  </Box>
  <Box padding="0"><slot name="image-slot" /></Box>
  <Box padding="var(--s00)"
    ><p class="overflow-hidden text-ellipsis">
      {description.slice(0, 100)}
    </p></Box
  >
</Box>
