---
import { Stack, Box } from '@cc/index.ts'

type Props = {
  headline?: string
  description?: string
}

const DUMMY = `Dolor sit amet consectetur adipisicing elit. Officiis iste,
    aspernatur, veritatis voluptate asperiores blanditiis beatae, modi
    impedit voluptatibus dignissimos optio eaque consectetur saepe illum sit
    doloremque velit nobis eos?`

const { headline = 'LOREM IPSUM', description = DUMMY } = Astro.props
---

<Box>
  <Stack>
    <slot name="image-slot" />

    <h4>{headline}</h4>
    <p>{description}</p>
  </Stack>
</Box>
