---
import CloseSVG from './CloseSVG.astro'
---

<button data-role="close" type="button"><CloseSVG /></button>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const buttons = document.querySelectorAll('button[data-role="close"]')

    // Handle clicks on each button.
    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        console.log('Button was clicked!')
      })
    })
  })
  // Find all buttons with the `alert` class on the page.
</script>

<style>
  #mybtn {
    cursor: pointer;
  }
</style>
