---
import { Box } from '@cc/index.ts'
---

<Box padding=".25rem" borderWidth=".125rem">
    <Box>
        <div class="cluster">
            <div class="pushRight"><button type="button">x</button></div>
            <h4>Dialouge Box</h4>
            <div class="center" style="{{max-inline-size: 50ch;}}">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum
                dolor sit amet consectetur adipisicing elit.
            </div>

            <div class="pushRight">
                <button type="button">okay</button>
                <button type="button">cancel</button>
            </div>
        </div>
    </Box>
</Box>

<style>
    /* .center {
        max-inline-size: 50ch;
    } */

    .pushRight {
        align-self: flex-end;
    }
</style>
