---
import { Box, Stack, Center } from '#astro-custom-layout-components/index.js';

import CloseBtn from './CloseBtn.astro';
import ConfetiBtn from './ConfettiButton.astro';
---

<Box>
  <Center>
    <Stack>
      <div class="pushRight"><ConfetiBtn /></div>
      <div class="pushRight"><CloseBtn /></div>
      <h4>Dialouge Box</h4>
      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum
        dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit.
      </div>

      <div class="pushRight">
        <button type="button">okay</button>
        <button type="button">cancel</button>
      </div>
    </Stack>
  </Center>
</Box>
