---

---

<div class="box">
    <div class="stack">
        <div class="cluster">
            <div class="pushRight"><button type="button">x</button></div>
            <h2>Dialouge Box</h2>
            <div class="center" style="{{max-inline-size: 50ch;}}">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum
                dolor sit amet consectetur adipisicing elit.
            </div>

            <div class="pushRight">
                <button type="button">okay</button>
                <button type="button">cancel</button>
            </div>
        </div>
    </div>
</div>

<style>
    /* .center {
        max-inline-size: 50ch;
    } */
    .cluster {
        justify-content: flex-end;
    }

    .pushRight {
        align-self: flex-end;
    }
</style>
