---
import { Box } from '@cc/index.ts'
type Props = {
  kolor?: string
  h: string
}

const { kolor = 'red', h } = Astro.props
---

<Box
  ><div class="parent">
    <Box invert />
  </div></Box
>

<style define:vars={{ kolor, h }}>
  .parent {
    display: flex;
    flex-wrap: wrap;
  }

  .parent > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30ch;
  }
</style>
