---
import type { HTMLAttributes } from 'astro/types';
import { Cluster } from '#astro-custom-layout-components/index.js';
type Props = HTMLAttributes<'a'> & {
  slug?: string;
  children: unknown;
};

const { href } = Astro.props;
// const { pathname } = Astro.url
---

<!-- <Box padding='--sizes'><a href={href} class:list={[{ active: isActive }]}>
    <slot />
</a></Box> -->
<Cluster>
  <div class="btn" :active="{ active: isActive }">
    <a href={href}>
      <slot />
    </a>
  </div>
</Cluster>
