---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<div class:list={['box', 'my-size', { active: isActive }]}>
    <a href={href} {...props}
        ><div class="box-with-no-border">
            <slot />
        </div>
    </a>

    <style>
        .my-size {
            inline-size: 10rem;

            justify-content: center;
        }
        a {
            display: inline-block;
            text-align: center;

            &:hover {
                text-decoration: none;
                color: var(--brand);
            }
        }
        div.mysize {
            /* min-inline-size: 26rem; */
        }

        .active {
            font-weight: bolder;
            text-decoration: none;
            border-width: var(--border-size-3);
        }
        .center {
            box-sizing: content-box;
            margin-inline: auto;
            text-align: center;
            max-inline-size: var(--measure);
        }
    </style>
</div>
