---
import HeaderLink from './HeaderLink.astro';

import { Box, Cluster, Switcher } from '@cc/index';

import Select from '@/ui/react/Select';
// import { DropDown as HeadlessUI } from '@/ui/react/DropDown.tsx';
import AstroNavigateSelect from '@/astro-web-component/AstroNavigateSelect.astro';
---

<Box padding="var(--s1)" borderWidth="0">
  <Cluster justify="space-between">
    <!-- <Box padding="0" borderWidth="1px">
      <h4>select</h4>
      <Select client:only="react" transition:persist />
    </Box> -->
    <!-- <Box padding="0" borderWidth="1px">
      <HeadlessUI client:only="react" transition:persist /></Box
    > -->
    <Box padding="0" borderWidth="1px"><AstroNavigateSelect /></Box>

    <Box borderWidth="0" padding="0">
      <Cluster align="baseline" justify="flex-start" space="var(--s6)">
        <Switcher threshold="20ch" limit={6}>
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
          <HeaderLink href="/ui">Ui</HeaderLink>
        </Switcher>
      </Cluster>
    </Box>
  </Cluster>
</Box>
