---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a
    href={href}
    class:list={['box-with-no-border', 'my-size', { active: isActive }]}
    {...props}
>
    <div class="center">
        <div class="box"><slot /></div>
    </div>
</a>

<style>
    .my-size {
        inline-size: 10rem;

        justify-content: center;
    }
    a {
        display: inline-block;

        &:hover {
            text-decoration: none;
            color: var(--brand);
        }
    }
    div.mysize {
        /* min-inline-size: 26rem; */
    }

    a.active {
        font-weight: bolder;
        text-decoration: none;
        .box {
            border-width: var(--border-size-3);
        }
    }
</style>
