---
import type { HTMLAttributes } from 'astro/types';

import { Cluster } from '#astro-custom-layout-components/index.ts';
type Props = HTMLAttributes<'a'> & {
  slug?: string;
  children: unknown;
};

const { href } = Astro.props;
// const { pathname } = Astro.url
---

<!-- <Box padding='--sizes'><a href={href} class:list={[{ active: isActive }]}>
    <slot />
</a></Box> -->
<div class="btn" :active="{ active: isActive }">
  <a href={href}>
    <slot />
  </a>
</div>

<style>
  a {
    color: var(--orange-11);
    text-decoration: none;
    padding: var(--sizes);
    :hover {
      color: var(--orange-6);
    }
  }
</style>
