---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="box">
    <div class="center">
        <div class="box">
            <h2>
                <a href="/">{SITE_TITLE}</a>
            </h2>
        </div>

        <div class="switcher">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/test">Test</HeaderLink>
            <HeaderLink href="/mytest">mytest</HeaderLink>
        </div>
    </div>
</header>
<style>
    .switcher {
        --threshold: 30rem;
        --space: 1rem;
    }
</style>
