---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & {
  slug?: string
}

const { href } = Astro.props
// const { pathname } = Astro.url
---

<!-- <Box padding='--sizes'><a href={href} class:list={[{ active: isActive }]}>
    <slot />
</a></Box> -->
<div class="btn" :active="{ active: isActive }">
  <a href={href}>
    <slot />
  </a>
</div>
