---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import Switcher from '@cc/Switcher/index.astro'
import Center from '@cc/Center/index.astro';
import Box from '@cc/Box/index.astro'
---

<header class="box invert">
    <Center andText={true} intrinsic={true}>
        <div class="stack-small">
            <Box borderWidth="0"><h1>{SITE_TITLE}</h1> </Box>
            <Box borderWidth="0">
                <div class="cluster">
                    <HeaderLink href="/">Home</HeaderLink>
                    <HeaderLink href="/blog">Blog</HeaderLink>
                    <HeaderLink href="/about">About</HeaderLink>
                    <HeaderLink href="/test">Test</HeaderLink>
                    <HeaderLink href="/mytest">mytest</HeaderLink>
                </div>
            </Box>
        </div>
    </Center>
</header>
<style>
    /* .mysize {
        min-inline-size: 20rem;
    } */
    .center {
        box-sizing: content-box;
        /* margin-inline: auto; */
        /* text-align: center; */

        max-inline-size: var(--measure);
        /* padding-inline-start: 2rem; */
        /* padding-inline-end: 2rem; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
</style>
