---
import type { HTMLAttributes } from 'astro/types'
import Box from '@cc/Box/index.astro'
type Props = HTMLAttributes<'a'> & {
    slug?: string
}

const { href } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a href={href} class:list={[{ active: isActive }]}>
    <slot />
</a>

<style>
    a {
        display: inline-block;
        text-align: center;
        font-size: var(--font-size-0);
        flex-basis: auto;
        &:hover {
            text-decoration: none;
            color: var(--brand);
        }
    }

    .active {
        font-weight: bolder;
        text-decoration: none;
    }
    .center {
        box-sizing: content-box;
        margin-inline: auto;
        text-align: center;
        max-inline-size: var(--measure);
    }
</style>
