---
//  import NavDropDown from '#ui/react/Select.tsx'
import DemoMenu from '#components/DemoMenu.astro';
---

<!-- <div class="bg-light dark:bg-gray-800"> -->
<div class="bg-mint-500 flex flex-row justify-end">
  <div class="justify-self-center-1 grow border">
    <DemoMenu />
  </div>

  <nav class="justify-self-center-1 flex grow flex-row justify-around border-2">
    <a
      class="grow justify-self-center rounded-md border bg-amber-600 px-1 py-2"
      href="/">Home</a
    >
    <a
      class="grow justify-self-center rounded-md border bg-amber-600 px-1 py-2"
      href="/blog">Blog</a
    >

    <a
      class="grow justify-self-center rounded-md border bg-amber-600 px-1 py-2"
      href="/ui">Ui</a
    >
    <a
      class="grow justify-self-center rounded-md border bg-amber-600 px-1 py-2"
      href="/tags">tags</a
    >
  </nav>
</div>
