---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<div class="box my-size">
    <span class="center"><slot /></span>
</div>

<!-- <div class="box-with-no-border mysize">
    <a href={href} class:list={[{ active: isActive }]} {...props}>
        <div class="box w100"><slot /></div>
    </a>
</div> -->

<style>
    .my-size {
        inline-size: 5rem;
        background-color: blue;
        justify-content: center;
    }
    a {
        display: inline-block;
        text-decoration: none;
    }
    div.mysize {
        /* min-inline-size: 26rem; */
    }

    a.active {
        font-weight: bolder;
        text-decoration: none;
        .box {
            border-width: var(--border-size-3);
        }
    }
</style>
