---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<div class="my-box">
    <a href={href} class:list={[{ active: isActive }]} {...props}>
        <slot />
    </a>
</div>
<style>
    a {
        display: inline-block;
        text-decoration: none;
    }
    a.active {
        font-weight: bolder;
        text-decoration: underline;
    }

    .my-box {
        padding: 0;

        --color-light: hsl(0, 0%, 80%);
        --color-dark: hsl(0, 0%, 20%);
        color: var(--color-dark);

        background-color: var(--color-light);

        /* color: var(--gray-1);
        background-color: var(--gray-12); */
        outline: 0.125rem solid transparent;
        outline-offset: -0.125rem;
    }
</style>
