---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'

const { pathname } = Astro.url
---

<header class="box invert">
    <div class="center">
        <h2>{SITE_TITLE}</h2>

        <div class="switcher">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/test">Test</HeaderLink>
            <HeaderLink href="/mytest">mytest</HeaderLink>
        </div>
    </div>
</header>
<style>
    .switcher {
        --threshold: 30rem;
        --space: 1rem;
    }
</style>
