
<select data-navigate-select>
    <option value="/demo/cluster-demo">cluster</option>
    <option value="/demo/sidebar-demo">sidebar</option>
    <option value="/demo/switcher-demo">switcher-demo</option>
    <option value="/demo/grid-demo">grid-demo</option>
    <!-- <option value="/demo/cluster">cluster</option>
    <option value="/demo/cluster">cluster</option> -->
</select>

<script>import { navigate } from 'astro:transitions/client'

    document.addEventListener('astro:page-load', () => {
        document
            .querySelector('[data-navigate-select]')
            ?.addEventListener(
                'change',
                (e: Event) =>
                    e.target && navigate((e.target as HTMLSelectElement).value),
            )
    })
    </script>
