---
import Sidebar from '@cc/Sidebar/index.astro'
import Box from '@cc/Box/index.astro'
import { Image } from 'astro:assets'
---

<!-- <style>
    .with-sidebar {
        display: flex;
        flex-wrap: wrap;
    }

    .sidebar {
        flex-basis: 20rem;
        flex-grow: 1;
    }

    .not-sidebar {
        flex-basis: 0;
        flex-grow: 999;
    }
</style> -->

<Sidebar space="var(--s2)" sideWidth="400px" contentMin="30%"  noStretch sideWidth="30ch">


        <Image
        class="box-with-corner-cuts"
        width="200"
        height="100"
        quality="max"
        src="https://picsum.photos/200/100?random=2"
        alt="Image alt text"
    />
       
 

    <Box>
        <p><em>flex-basis:</em> 20rem is more nuanced. It tells the browser to consider
            20rem as an ideal or “target” width. It is then free to calculate just how
            closely the 20rem target can be resembled given the content and available
            space. You empower the browser to make the right decision for the content,
            and the user, reading that content, given their circumstances.</p>
    </Box>

</Sidebar>

<!-- <div class:list={['with-sidebar']}>
    <div class:list={['sidebar']}>
        <div class="stack">
            <div class="box">stacks make margins</div>
            <div class="box">boxes fix padding</div>
            <div class="box">Lorem, ipsum dolor sit</div>
        </div>
    </div>
    <div class:list={['not-sidebar', 'box']}>
        <em>flex-basis:</em> 20rem is more nuanced. It tells the browser to consider
        20rem as an ideal or “target” width. It is then free to calculate just how
        closely the 20rem target can be resembled given the content and available
        space. You empower the browser to make the right decision for the content,
        and the user, reading that content, given their circumstances.
    </div>
</div> -->
