---

---

<div class="box-no-border">
    <p>
        <code>.switcher</code> - especially useful where each element should be considered
        equal, or part of a continuum.
    </p>
</div>
<div class="center">
    <div class="switcher">
        <div class="box filled"></div>
        <div class="box filled"></div>
        <div class="box filled"></div>
    </div>
</div>

<style>
    .filled {
        inline-size: 10rem;
        background-color: var(--pink-3);
    }
</style>
