---

---

<div class="box-no-border">
    <h4>Components</h4>
    <p>
        <code>.switcher</code> - especially useful where each element should be considered
        equal, or part of a continuum.
    </p>
</div>

    <div class="switcher">
        <div class="box filled"></div>
        <div class="box filled"></div>
        <div class="box filled"></div>
    </div>


<style>
    .filled {
        inline-size: 10rem;
        background-color: var(--pink-3);
    }


</style>

