---
import { layoutDemoPages, topLevelPages } from '#lib/getPages.js';
---

<h4>Main Pages</h4>

{
  topLevelPages.length > 0 ? (
    <ul>
      {topLevelPages
        // .filter((page) => !regexHasSubPages.test(page))
        .map(({ url }) => (
          <li>
            <a href={url === '' ? './' : url}>
              {url === '' ? 'home' : url?.slice(1)}
            </a>
          </li>
        ))}
    </ul>
  ) : (
    <p>no pages found</p>
  )
}

<h4>Layout web-components demos</h4>
{
  layoutDemoPages.length > 0 ? (
    <ul>
      {layoutDemoPages
        // .filter((page) => !regexHasSubPages.test(page))
        .map(({ url }) => (
          <li>
            <a href={url}>{url?.slice(1)}</a>
          </li>
        ))}
    </ul>
  ) : (
    <p>no pages found</p>
  )
}

<style>
  li.indent {
    padding-left: 5rem;
    background-color: red;
  }
</style>
