---
import { z } from 'astro:content';

import { layoutDemoPages, topLevelPages } from '#lib/getPages.ts';

const regexHasSubPages = /^\/[^/]*\/./;

// const fileNameRegex = /([^/]+)$/;
// const pagesRegExp = /pages\/(.+)/;
// const afterComponentssRegex = /components\/(.+)/;
// const regexAstro = /\.astro$/;
---

<h4>Main Pages</h4>

{
  topLevelPages.length > 0 ? (
    <ul>
      {topLevelPages
        // .filter((page) => !regexHasSubPages.test(page))
        .map((page) => (
          <li>
            <a href={page.url}>{page.url?.slice(1)}</a>
          </li>
        ))}
    </ul>
  ) : (
    <p>no pages found</p>
  )
}

<h4>Layout web-components demos</h4>
{
  layoutDemoPages.length > 0 ? (
    <ul>
      {layoutDemoPages
        // .filter((page) => !regexHasSubPages.test(page))
        .map((page) => (
          <li>
            <a href={page.url}>{page.url?.slice(1)}</a>
          </li>
        ))}
    </ul>
  ) : (
    <p>no pages found</p>
  )
}

<style>
  li.indent {
    padding-left: 5rem;
    background-color: red;
  }
</style>
