---
import BaseHead from '@/components/BaseHead.astro';

import { Cover, Center } from '@/astro-custom-layout-components';

interface Props {
  title?: string;
  description?: string;
  children: unknown;
}

const { title = 'I NEED A TITLE', description = 'no description provided' } =
  Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" transition:animate="none" color-scheme="dark">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <Cover centeredElement="center-l" noPad={true} space="0">
      <Center>
        <slot />
      </Center>
    </Cover>
  </body>
</html>
