---
// import Center from '@repo/layout-webcomponents/Center';
// import Cover from '@repo/layout-webcomponents/Cover';
// import Header from '#components/DaisyHeader/index.astro';
import type { RmUnitType } from '#astro-custom-layout-components/Types.ts';
import Footer from '#components/Footer.astro';
import Header from '#components/Header.astro';

import BaseLayout from './BaseLayout.astro';
// import Nav from '@repo/astro-ui/NavBarRes';
// import { slide } from 'astro:transitions';
interface Props {
  maxW?: RmUnitType;
  children: unknown;
  title?: string;
  description?: string;
}

const { ...rest } = Astro.props;
---

<BaseLayout {...rest}>
  <div class="flex min-h-screen flex-col">
    <Header />
    <main
      class="m-auto flex max-w-6/10 flex-col items-center justify-center p-4 border-1"
    >
      <slot name="headline" />
      <slot />
    </main>
    <Footer />
    <!-- <footer class="mt-auto flex items-center justify-center p-4">
      <p class="text-sm text-gray-500">
        © {new Date().getFullYear()} Mike Connor. All rights reserved.
      </p>
    </footer> -->
  </div>
</BaseLayout>
