---
import Center from '#astro-custom-layout-components/Center/index.astro';
import Cover from '#astro-custom-layout-components/Cover/index.astro';
import type { RmUnitType } from '#astro-custom-layout-components/Types.js';
import BaseHead from '#components/BaseHead.astro';
import Footer from '#components/Footer.astro';
import Header from '#components/Header.astro';

interface Props {
  title?: string;
  description?: string;

  children: unknown;
  maxW?: RmUnitType;
}

const {
  maxW = 'var(--measure, 60ch)',
  title = 'I NEED A TITLE',
  description = 'no description provided',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <Cover centeredElement="center-l" minHeight="100vh">
      <Header />

      <Center max={maxW}>
        <slot />
      </Center>
      <!-- <Footer /> -->
    </Cover>
  </body>
</html>
