---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import GlobalStyles from '@styles/GlobalStyles.astro'

type Props = CollectionEntry<'blog'>['data']

const {
    title,
    description,
    // pubDate, updatedDate, heroImage
} = Astro.props
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <GlobalStyles />
    </head>

    <body data-color-scheme="dark">
        <slot />
    </body>
</html>
