---
import BaseHead from '../components/BaseHead.astro'

import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

import Center from '@components/customComponents/Center/index.astro'
import GlobalStyle from '@styles/GlobalStyles.astro'

type Props = {
    title?: string
    description?: string
}

const {
    title = 'I NEED A TITLE',
    description = 'no description provided',
    // pubDate, updatedDate, heroImage
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

function capitalizeWords(str) {
    return str
        .split(' ')
        .map(
            (word) =>
                word.charAt(0).toUpperCase() + word.slice(1).toLowerCase(),
        )
        .join(' ')
}
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <link rel="canonical" href={canonicalURL} />
        <GlobalStyle />
    </head>

    <body class:list={['box', 'center']} color-scheme="light">
        <div class="cover">
            <Header />
            <main>
                <div class="box"><h3>{capitalizeWords(title)}</h3></div>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
