---
import BaseHead from '../components/BaseHead.astro'

import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

import Center from '@components/customComponents/Center/index.astro'
import GlobalStyle from '@styles/GlobalStyles.astro'

type Props = {
    title?: string
    description?: string
}

const {
    title = 'I NEED A TITLE',
    description = 'no description provided',
    // pubDate, updatedDate, heroImage
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <link rel="canonical" href={canonicalURL} />
        <GlobalStyle />
    </head>

    <body class="center">
        <div class="cover">
            <Header />
            <main><slot /></main>
            <Footer />
        </div>

        <style>
            .mybg {
                background-color: yellow;
            }
        </style>
    </body>
</html>
